import { BaseCardConfig, TranslatableString } from '@models/api.models';

export class <%= classify(name) %>CardConfig extends BaseCardConfig {
  content: {
    // Add your card specific configuration properties here
    text: TranslatableString[];
  };

  constructor() {
    super();
    this.content = {
      text: [
        { languageCode: 'fr', value: 'Nouveau <%= camelize(name) %>' },
        { languageCode: 'en', value: 'New <%= camelize(name) %>' }
      ]
    };
  }
}
