<div #cardContainer class="flex flex-col h-full rounded-lg overflow-hidden" [style.background-color]="backgroundColor">
  <!-- Header -->
  <div class="flex items-center justify-between px-4 py-2" [style.background-color]="headerBackgroundColor">
    <div class="flex items-center flex-1">
      <h3 class="text-sm font-medium" [style.color]="headerTextColor">
        <ng-container *ngFor="let title of card.title">
          <span *ngIf="title.languageCode === 'fr'">{{ title.value }}</span>
        </ng-container>
      </h3>
      <div class="flex-1">
        <ng-content select="[header]"></ng-content>
      </div>
    </div>
    <button *ngIf="showFullscreenButton"
      (click)="toggleFullscreen()"
      class="p-1 rounded-lg text-gray-400 hover:text-white hover:bg-gray-700 transition-colors ml-2">
      <svg *ngIf="!isFullscreen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm5 10a1 1 0 01-1 1H3a1 1 0 01-1-1v-4a1 1 0 112 0v1.586l2.293-2.293a1 1 0 111.414 1.414L5.414 14H7a1 1 0 011 1zm7-10a1 1 0 01.707.293l2.293 2.293V4a1 1 0 112 0v4a1 1 0 01-1 1h-4a1 1 0 110-2h1.586l-2.293-2.293A1 1 0 0115 4zm0 10a1 1 0 011-1h1.586l-2.293-2.293a1 1 0 111.414-1.414L19 11.586V10a1 1 0 112 0v4a1 1 0 01-1 1h-4a1 1 0 010-2z"/>
      </svg>
      <svg *ngIf="isFullscreen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M3 3a1 1 0 00-1 1v4a1 1 0 102 0V5.414l2.293 2.293a1 1 0 001.414-1.414L5.414 4H7a1 1 0 100-2H3zm5 10a1 1 0 00-1 1v1.586l-2.293-2.293a1 1 0 00-1.414 1.414L5.586 17H4a1 1 0 100 2h4a1 1 0 001-1v-4a1 1 0 00-1-1zm7-10a1 1 0 00.707.293l2.293 2.293V4a1 1 0 10-2 0v1.586L13.707 3.293A1 1 0 1012.293 4.707L14.586 7H13a1 1 0 100 2h4a1 1 0 001-1V4a1 1 0 00-1-1h-4a1 1 0 000 2zm0 10a1 1 0 00-1 1v1.586l-2.293-2.293a1 1 0 10-1.414 1.414L13.586 17H12a1 1 0 100 2h4a1 1 0 001-1v-4a1 1 0 00-1-1z"/>
      </svg>
    </button>
  </div>

  <!-- Body -->
  <div class="flex-1 overflow-auto" [style.color]="textColor">
    <ng-content select="[body]"></ng-content>
  </div>

  <!-- Footer -->
  <div class="px-4 py-2 border-t border-gray-200" [style.color]="textColor">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
