{
  "CARDS": {
    "<%= classify(name).toUpperCase() %>": {
      "TITLE": "<%= classify(name) %>",
      "DESCRIPTION": "<%= classify(name) %> card description",
      "CONFIGURATION": {
        "TITLE": "<%= classify(name) %> Configuration",
        "SPECIFIC": {
          "TITLE": "Specific configuration"
          // Add your specific translations here
        }
      }
    }
  }
} 