<div class="row relative bg-gray-100 rounded-lg border border-gray-200" [class.dragging-over]="isDraggingCard" [style.height.px]="height">
  <!-- Row controls -->
  <div class="absolute right-0 top-1/2 -translate-y-1/2 flex flex-col gap-2 mr-2 z-10">
    <button class="p-1 rounded hover:bg-gray-700 text-gray-600 hover:text-white" (click)="onConfigureRow()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
      </svg>
    </button>
    <button class="p-1 rounded hover:bg-gray-700 text-gray-600 hover:text-white" (click)="onDeleteRow()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div class="flex flex-col h-full">
    <!-- Contenu de la row -->
    <div class="flex-1 grid grid-cols-12 gap-4 pr-10" 
         (dragover)="onDragOver($event)"
         (dragenter)="onDragEnter($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)">
      <ng-container *ngFor="let card of row.cards">
        <div class="col-span-12 h-full">
          <app-base-card [card]="card" [isEditing]="true" (delete)="onCardDelete(card.id)" (configure)="onCardConfigure(card.id)">
            <ng-container body>
              <ng-container *ngComponentOutlet="getCardComponent(card).component; 
                                            injector: moduleRef.injector;
                                            inputs: getCardComponent(card).inputs">
              </ng-container>
            </ng-container>
          </app-base-card>
        </div>
      </ng-container>

      <!-- Empty state -->
      <div *ngIf="row.cards.length === 0" class="flex items-center justify-center h-full col-span-12 text-gray-500">
        Glissez-déposez des cartes depuis la toolbox
      </div>
    </div>
  </div>

  <!-- Poignée de redimensionnement -->
  <div class="resize-handle absolute bottom-0 left-0 right-0 h-2 cursor-row-resize bg-transparent hover:bg-blue-500/20 transition-colors"
       (mousedown)="onResizeStart($event)">
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-16 h-1 bg-gray-600 rounded-full"></div>
  </div>
</div>

<style>
  .dragging-over {
    @apply ring-2 ring-blue-500 ring-inset;
  }

  .resize-handle:hover .resize-indicator {
    @apply bg-blue-500;
  }

  .resize-ghost {
    pointer-events: none !important;
    user-select: none !important;
    will-change: height;
    position: fixed !important;
    z-index: 9999 !important;
    background-color: rgba(59, 130, 246, 0.2) !important;
    border: 2px dashed rgb(59, 130, 246) !important;
    transition: height 0.05s linear;
  }
</style>
