<form [formGroup]="form" class="space-y-4">
  <!-- Configuration de la source de données -->
  <app-tile [title]="'DATASOURCE.TITLE' | translate">
    <app-datasource-configuration
      (configChange)="onDatasourceChange($event)"
      (schemaChange)="onSchemaChange($event)"
      [config]="form.getRawValue().datasource">
    </app-datasource-configuration>
    <!-- Message d'erreur pour la datasource -->
    <div *ngIf="errorMessages['datasource']" class="mt-2 text-sm text-red-500">
      {{ errorMessages['datasource'] | translate }}
    </div>
  </app-tile>
  <!-- Colonnes -->
  <app-tile [title]="'PieChart.COLUMNS' | translate">
    <div class="mt-4 space-y-4">
      <!-- Colonne des étiquettes -->
      <div>
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ 'chart.LABEL_COLUMN' | translate }}
        </label>
        <select [class.border-red-500]="errorMessages['labelColumn']"
                class="w-full px-3 py-2 bg-gray-800 border border-gray-700 text-white rounded-md"
                formControlName="labelColumn">
          <option value="">{{ 'FORM.SELECT_VALUE' | translate }}</option>
          <option *ngFor="let column of availableColumns" [value]="column">
            {{ column }}
          </option>
        </select>
        <!-- Message d'erreur pour labelColumn -->
        <div *ngIf="errorMessages['labelColumn']" class="mt-2 text-sm text-red-500">
          {{ errorMessages['labelColumn'] | translate }}
        </div>
      </div>

      <!-- Colonne des valeurs -->
      <div>
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ 'chart.VALUE_COLUMN' | translate }}
        </label>
        <select [class.border-red-500]="errorMessages['valueColumn']"
                class="w-full px-3 py-2 bg-gray-800 border border-gray-700 text-white rounded-md"
                formControlName="valueColumn">
          <option value="">{{ 'FORM.SELECT_VALUE' | translate }}</option>
          <option *ngFor="let column of availableColumns" [value]="column">
            {{ column }}
          </option>
        </select>
        <!-- Message d'erreur pour valueColumn -->
        <div *ngIf="errorMessages['valueColumn']" class="mt-2 text-sm text-red-500">
          {{ errorMessages['valueColumn'] | translate }}
        </div>
      </div>

      <!-- Rayon -->
      <div>
        <label class="block text-sm font-medium text-gray-300 mb-1">
          {{ 'chart.RADIUS' | translate }}
        </label>
        <input [class.border-red-500]="errorMessages['radius']" class="w-full px-3 py-2 bg-gray-800 border border-gray-700 text-white rounded-md"
               formControlName="radius"
               placeholder="75%"
               type="text">
        <!-- Message d'erreur pour radius -->
        <div *ngIf="errorMessages['radius']" class="mt-2 text-sm text-red-500">
          {{ errorMessages['radius'] | translate }}
        </div>
      </div>
    </div>
  </app-tile>
</form>
