<div [style.height.px]="height"
     [ngClass]="{
       'bg-card rounded-lg overflow-hidden': isEditing
     }"
     class="relative w-full p-2">
  <div [style.height.px]="height"
       [style.min-height.px]="100"
       class="row relative w-full transition-all duration-200"
       [ngClass]="{'bg-gray-100 rounded-lg border border-gray-200': isEditing}">
    <!-- Zone de déclenchement des actions -->
    <div *ngIf="isEditing" class="absolute left-0 top-1/2 -translate-y-1/2 group z-10">
      <div class="w-2 flex items-center justify-center cursor-pointer">
        <div
          class="h-[74px] w-full rounded-r bg-gray-800/40 backdrop-blur border-y border-r border-white/20 shadow-md hover:bg-gray-800/60 group-hover:bg-gray-800/60 transition-all flex items-center justify-center">
          <div class="h-3 w-[2px] rounded-full bg-white/40 group-hover:bg-white/60 transition-all"></div>
        </div>
      </div>

      <!-- Menu déroulant -->
      <div
        class="invisible group-hover:visible opacity-0 group-hover:opacity-100 absolute left-0 top-1/2 -translate-y-1/2 transform -translate-x-1 group-hover:translate-x-0 transition-all duration-200">
        <div
          class="flex flex-col gap-1 bg-gray-800/90 backdrop-blur-sm rounded-lg shadow-lg px-1 py-1 border border-white/20">
          <button
            (click)="onConfigure()"
            class="p-1 rounded hover:bg-white/10 text-gray-300 hover:text-white transition-colors"
            title="Configurer">
            <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                    fill-rule="evenodd"/>
            </svg>
          </button>
          <button
            (click)="onDelete()"
            class="p-1 rounded hover:bg-white/10 text-gray-300 hover:text-red-500 transition-colors"
            title="Supprimer">
            <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    fill-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Contenu de la row -->
    <div class="h-full w-full">
      <ng-content></ng-content>
    </div>

    <!-- Poignée de redimensionnement -->
    <div (mousedown)="onResizeStart($event)"
         *ngIf="isEditing"
         class="resize-handle absolute bottom-0 left-0 right-0 h-2 cursor-row-resize bg-transparent hover:bg-blue-500/20 transition-colors group">
      <div
        class="absolute bottom-0 left-1/2 -translate-x-1/2 w-16 h-1 bg-gray-400 group-hover:bg-blue-500 rounded-full transition-colors"></div>
    </div>
  </div>
</div>
