<div [formGroup]="form">
  <app-base-card-config [form]="form" [card]="card" (save)="onSave()" (cancel)="onCancel()">
    <div formGroupName="config">
      <div>
        <label class="block text-sm font-medium mb-2">{{'CARD.CONFIG.SPECIFIC.PLACEHOLDER.LABEL' | translate}}</label>
        <div>
          <input type="text" [formControl]="labelControl"
                 class="block w-full h-11 rounded-md bg-[#25262b] border-0 text-gray-100
                        ring-1 ring-inset ring-[#373A40] focus:ring-2 focus:ring-inset focus:ring-blue-500
                        transition duration-150 ease-in-out text-base"
                 [placeholder]="'CARD.CONFIG.SPECIFIC.PLACEHOLDER.LABEL_PLACEHOLDER' | translate">
          <p class="mt-2 text-sm text-gray-400">
            {{'CARD.CONFIG.SPECIFIC.PLACEHOLDER.LABEL_HELP' | translate}}
          </p>
        </div>
      </div>
    </div>
  </app-base-card-config>
</div> 