<div class="card-content h-full flex flex-col">
  <div class="flex-1 overflow-hidden flex flex-col">
    <div class="flex-1 overflow-auto">
      <table class="min-w-full divide-y divide-gray-700 h-full">
        <thead [style.background-color]="card.configuration?.visualConfig.headerBackgroundColor">
          <tr>
            <th *ngFor="let column of getVisibleColumns()" 
                [ngClass]="{
                  'text-left': column.alignment === 'left',
                  'text-center': column.alignment === 'center',
                  'text-right': column.alignment === 'right'
                }"
                [style.color]="card.configuration?.visualConfig.headerTextColor"
                [class.py-3]="!card.configuration?.visualConfig.isCompactMode"
                [class.py-1]="card.configuration?.visualConfig.isCompactMode"
                class="px-6 text-xs font-medium uppercase tracking-wider">
              {{ getColumnLabel(column) }}
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-700">
          <tr *ngIf="loading" class="animate-pulse">
            <td [attr.colspan]="getVisibleColumnsCount()" class="px-6 py-4">
              <div class="h-4 bg-gray-700 rounded w-3/4"></div>
            </td>
          </tr>
          <tr *ngIf="!loading && (!data || data.length === 0)" class="text-center">
            <td [attr.colspan]="getVisibleColumnsCount()" class="px-6 py-4 text-gray-400">
              {{ 'NO_DATA' | translate }}
            </td>
          </tr>
          <tr *ngFor="let item of data" 
              [style.background-color]="card.configuration?.visualConfig.rowBackgroundColor"
              class="hover:bg-opacity-80">
            <td *ngFor="let column of getVisibleColumns()" 
                [ngClass]="{
                  'text-left': column.alignment === 'left',
                  'text-center': column.alignment === 'center',
                  'text-right': column.alignment === 'right'
                }"
                [style.color]="card.configuration?.visualConfig.rowTextColor"
                [class.py-4]="!card.configuration?.visualConfig.isCompactMode"
                [class.py-1]="card.configuration?.visualConfig.isCompactMode"
                class="px-6 whitespace-nowrap text-sm">
              {{ getColumnValue(item, column) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 